.navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin: 0;
    position: relative; 
}

.logo {
    display: flex;
    align-items: center;
    color: #ffffff;
}

img {
    height: 60px;
    width: 60px;
    margin-right: 1px;
}

.title {
    font-size: 24px;
    color: white;
}

.navitems {
    display: flex; 
    align-items: center;
}

.toggle-button {
    display: none; 
    background-color: transparent;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}
.navitems.open {
    display: flex; 
    flex-wrap: wrap; 
    position: absolute; 
    top: 60px; 
    left: 0; 
    background-color: #2a2a2a; 
    width: 100%;
    z-index: 1000; 
    padding: 10px;
    gap: 5px; 
  }


@media (max-width: 1220px) {
    .toggle-button {
        display: block; 
    }
  
    .navitems {
        display: none; 
    }
  
    .navitems.open {
        display: flex; 
    }
  }