.shimmer-card{
  background-color: rgb(171, 171, 171);
  padding: 5px;
  width: 200px;
  margin: 8px;
  height: 300px;
}
.shimmer-container{
  display: flex;
  flex-wrap: wrap;
}

:root{
  --background-color: #f8f9fa;
  --foreground-color: #000000;
  --primary-text-color: #1e1e1e;
  --secondary-text-color: #007bff;
  --toggle-bg: #f0eb9d;
  --toggle-fg: #fff;
  --navbar-bg: #283452;
  --newscard-bg: #ffffff;
  --navbar-button: #007bff;
  --navbar-label: #ffffff;
  --newscard-color: #333333;
  --newscard-link:#283452;
}

[data-theme="dark"]{
  --background-color: #121212;
  --foreground-color: #60a7ef;
  --primary-text-color: #f8f9fa;
  --secondary-text-color: #007bff;
  --toggle-bg: #283452;
  --toggle-fg: #00a6ff;
  --navbar-bg: #007bff;
  --newscard-bg: #444046;
  --newscard-color: #f8f9fa;
  --navbar-button: #283452;
  --navbar-label: #000000;
  --newscard-link:#007bff;
}

.navbar {
  padding-left: 20px;  
  padding-right: 60px; 
  display: flex;
  justify-content: space-between; 
  align-items: center; /
  height: 64px; 
  background-color: var(--navbar-bg);
}

.navitems {
  display: flex;
  align-items: center; 
  gap: 20px; 
}

.navbar input,
.navbar select,
.navbar button {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.navbar select {
  max-width: 200px;
  overflow-y: scroll;
}

.navbar button {
  background-color: var(--navbar-button);
  color: white;
  cursor: pointer;
}

.navbar button:hover {
  background-color: #0056b3;
}

.navbar label {
  color: var(--navbar-label);
}

.news-container {
  background-color: var(--background-color);
  color: var(--primary-text-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; 
  gap: 20px;
  padding: 20px;
}


.newscard{
  background-color: var(--newscard-bg);
  color: var(--newscard-color);
  padding: 5px;
  width: 250px;
  margin: 7px;
  border:1px solid black;
}

.newscard-title{
  color: var(--newscard-color);
}
.newscard-date{
  color: var(--newscard-color);
}
.newscard-link{
  border: 2px solid var(--newscard-link);
  color:var(--newscard-link)
}
.newscard-link:hover {
  background-color:var(--newscard-link) ;
  color: white;
}

.newscard:hover {
  transform: scale(1.05);
}


.image{
  height: 150px;
  width: 195px;
}
